html {
    color: black;
    font: 62.5%/1.4 Georgia, serif;
    margin: 1em auto;
    width: 680px;
}

body {
    font-size: 1.4em;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 1.5em;
    padding: 0.5em 0;
}

div#logo {
    text-align: center;
}

div#logo a {
    color: #BD3C35;
    font-size: 2em;
    font-weight: normal;
    text-decoration: none;
}

div#header #navigation {
    margin-top: 0.3em;
    text-align: center;
}

div#header #navigation a {
    color: #333;
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 12px;
}

div#header #navigation a:first-child {
    margin-left: 0;
}

div#header #navigation a:hover {
    color: #206BB0;
}

div#content {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0 1em;
}

div#content div#article {
    color: #222;
    font-size: 1.1em;
    font-style: normal;
    text-align: justify;
    word-wrap: break-word;
}

div#content h1,
div#content h2,
div#content h3,
div#content h4,
div#content h5,
div#content h6 {
    font-weight: 100;
}

div#content a {
    color: #206BB0;
    text-decoration: none;
}

div#content a:hover {
    text-decoration: underline;
}

div#footer {
    border-top: solid 1px black;
    color: #555;
    font-size: 12px;
    margin-top: 1.5em;
    padding: 0.5em 0;
    text-align: right;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

div.sourceCode {
    background: #EEE;
    padding: 0.5em;
}

pre {
    font-family: "fira mono", inconsolata, consolas, monospace;
}

div.projects table {
  width: 100% !important;

}

div.projects table td:nth-child(2) {
  width: 40% !important;
}

.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
