<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>defn.io - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">defn.io</a>
            </div>
            <div id="navigation">
                <a href="/about.html">About</a>
                <a href="/archive.html">Archive</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>

	    <div id="article">
		$body$
	    </div>
        </div>

        <div id="footer">
        </div>
    </body>
</html>
